# Virtual environments
.venv/
venv/
env/
.env


# Python cache / compiled
__pycache__/
*.pyc
*.pyo
*.pyd


# Build / packaging
build/
dist/
*.egg-info/


# Testing / tooling caches
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/


# OS files
.DS_Store
Thumbs.db
Desktop.ini


# IDE / Editors 
.vscode/
.idea/


# Generated output
output/
out.mp4